{%extends "layout.html" %}
{% block body %}
 <!--/ Intro Skew End /-->

 <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="{{url_for('static',filename='img/intro-bg.jpg')}}" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Ravikumar Chavva</span></p>
                      <p><span class="title-s">Profile: </span> <span>Data Science Student</span></p>
                      <p><span class="title-s">Email: </span> <span>chavvaravikumarreddy2004@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(+91) 6304424091</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skills</p>
                  <span>staistics</span><br>
                  <span>SQL</span><br>
                  <span>Python</span><br>
                  <span>Machine Learning</span><br>
                  <span>Cloud fundamentals (Azure)</span><br>
                  <span>familiar with: Docker,Kubernetes,Git</span><br>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About me
                    </h5>
                  </div>
                  <p class="lead">
                    "Hello! This is Ravi kumar", I am a passionate and dedicated student currently pursuing a B.Tech degree
                    in Sri Venkateswara College Of Engineering,Karakambadi with a focus on Data Science.
                    I am deeply fascinated by the world of technology and its potential to drive innovation
                     and solve complex problems.
                  </p>
                  <p class="lead">
                    Throughout my academic journey, I have been exposed to various engineering concepts and have developed
                    a strong foundation in mathematics, statistics, and programming languages such as Python and SQL
                  </p>
                  <p class="lead">
                    To augment my learning, I actively engage in projects that involve data analysis, visualization, and
                    machine learning. Additionally, I stay updated with the latest industry trends by participating in online
                    courses and attending webinars on topics like data preprocessing, predictive modeling, and deep learning.
                    I am constantly seeking opportunities to collaborate and apply my skills to real-world challenges.If you
                    would like to connect or explore potential collaborations, please reach out to me via contact form below.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



{%endblock %}