{%extends "layout.html" %}
{% block body %}
 <!--/ Section Services Star /-->
 <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Services
            </h3>
            <p class="subtitle-a">
              Services,I can provide
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-monitor"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Data Analysis</h2>
              <p class="s-description text-center">
                Analyze the data present in various forms to uncover patterns, trends to raise valuable insights
                with the help of Excel,Sql,Python.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-code-working"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Machine Learning Modeling</h2>
              <p class="s-description text-center">
                building predictive models for tasks such as prediction,segmentation,demand forecasting.And to develop,
                train, and evaluate models.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-camera"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Data Visualization</h2>
              <p class="s-description text-center">
                I can create visually appealing and informative data visualizations using tools like Tableau,
                matplotlib, or Power BI.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Data Preprocessing</h2>
              <p class="s-description text-center">
                clean, transform,and normalize data, ensuring it is suitable for analysis or model training.
                This involves handling missing values, outlier detection, feature engineering, and scaling.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-paintbrush"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Exploratory Data Analysis (EDA)</h2>
              <p class="s-description text-center">
                A service to explore data sets, identify patterns,and uncover initial insights that can guide
                further analysis or modeling efforts.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Free Lancing</h2>
              <p class="s-description text-center">
                I would like to assist with your work as a free lancer
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

{%endblock %}